grpcio~=1.27.2
grpcio-tools~=1.27.2
protobuf~=3.11.3
coloredlogs~=14.0.0
earlgrey~=0.2.0
jsonrpcclient[aiohttp]~=3.3.5
jsonrpcserver~=4.1.2
plyvel~=1.2.0
requests~=2.23.0
cryptography~=3.2.1
coincurve~=13.0.0
setproctitle~=1.1.10
transitions==0.6.8
verboselogs~=1.7.0
websockets~=8.1.0
yappi~=1.2.3
eth-keyfile~=0.5.1
